.containerImagePreview {
  background-color: #999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "a b c d";
  height: 40vh;
  border-radius: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rightPreview {
  width: 25%;

  grid-area: a; }

.frontPreview {
  width: 25%;
   grid-area: b; }

.backPreview {
  width: 25%;
  grid-area: c; }

.leftPreview {
  width: 25%;
  grid-area: d; }

