
.containerImagePreview {
  background-color: #c8c8c8;
  display: grid;
  gap: .125rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card_img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
}

.rightPreview {
  border: 3px solid hotpink; }

.frontPreview {
   border: 3px solid hotpink; }

.backPreview {
  border: 3px solid hotpink; }

.leftPreview {
  border: 3px solid hotpink; }

