<nav class="navbar navbar-dark bg-dark heading">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="/capturar">
      <img src="assets\bluePrintCar\Icon_22_generated.jpg" width="20" height="20">
        Auto Vidrios Melien
    </a>
  
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/reporte">Ordenes</a>
      </li>
    </ul>

    <form class="d-flex">
      <button class="btn btn-secondary" (click)="logOut()" type="submit">Log Out</button>
    </form>
  </div>
  
</nav>