.selectChasis {
    margin-bottom: 1rem;
    width: 100%;
}

.previewSelectOrder {
    border: 5px gray solid;
    height: min-content;
    border-radius: 1rem;
}

.tableHeight {
    height: 8rem;
}

.tableHeading thead {
    position: sticky;
}

.active {
    background: lightgreen;
    color: black;
}

.unactive {
    background: white;
    color: black;
}