.selectChasis{
    margin-bottom: 1rem;
    width: 100%;
}

.previewSelectOrder{
    border: 5px gray solid;
    border-radius: 1rem;
}

.tableHeight{
    height: 8rem;
}

.tableHeading thead {
    position: sticky;
}
