.mainSection {
  display: grid;
  gap: 0rem;
  grid-auto-flow: dense;
  /*grid-auto-rows: 50%;*/
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.takeImageContainer{
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.previewContainer{
  margin: 1rem;
}

.carDataContainer{
  margin: 0.5rem;
}

.saveContainer{
  margin: 3rem;
}

.saveContainer button {
  width: 100%;
}