<!--
    Documentacion para entender la estructura del login. 
    
    Este section contiene un div el cual adentro contiene un form el cual tiene relacion
    Tiene un [formGroup]="form" el cual esta siendo relacionado con una propiedad llamada form
    el cual utiliza el modulo formBuilder para validar que los campos del form no sean nulos 
    o se manden nulos cuando el usuario le de a submit.

    hay un contenedor que contiene un ngif. Si esa propiedad es verdadera mostrara una alerta
    de bootstrap con el color dependiendo el mensaje devuelto por la api.
 -->


<section>

    <div class="loginContainer">

        <form class="text-center text-sm p-5 loginForm" [formGroup]="form" (ngSubmit)="LogIn()">

            <img src="assets\bluePrintCar\LogoMelien.png" [width]="150" >

            <p class="h4 mb-4 mt-3">Iniciar Sesion</p>

            <input type="username" 
            formControlName="username" 
            class="form-control mb-4" 
            placeholder="Nombre Usuario" 
            >
            
            <input type="password" 
            formControlName="password" 
            class="form-control mb-3" 
            placeholder="Contrasena">

            <div class="d-grid gap-3 col-6 mx-auto btnlogin">
                <button class="btn btn-secondary" type="submit" >Ingresar</button>
            </div>
            
        </form>

    </div>

    <div *ngIf="logIn" class="loginContainer">
        <alert [type]="alertType" [dismissOnTimeout]="3000" >{{Message}}</alert>
    </div>

</section>


